  img {
    width: 100%;
    height: 100%;
  }

  .secondpart {
    display: flex;
    gap: 5px;
    height: 50%;
    width: 100%;
  }

  .combined {
    height: 50%;
  }

  .lastpart {
    display: flex;
    gap: 5px;
    height: 50%;
    width: 100%;
  }

  .square {
    display: grid;
    grid-template-columns: repeat(2 1fr);
    gap: 5pxs;
  }

  .row {
    height: 400px;
  }